@import '../../../../variables';

.control-switches-animation {
  overflow: hidden;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: end;
  &_on {
    .control-switches-animation__img {
      right: 0;
    }
  }
}

.control-switches-animation__img {
  position: relative;
  max-height: 100%;
  min-width: 122px;
  right: -90%;
  width: 78%;
  max-width: 188px;
  transition: right 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
