@import '../../variables';

.slider-base {
  display: flex;
  gap: 8px;
  padding: 12px;
  background-color: rgba(#fff, 0.9);
  border-radius: 12px;
  width: fit-content;
  align-items: center;
  position: relative;
  &_active {
    .slider-base__control-wrap {
      background-color: $slider-on-color;
    }
    .slider-base__control {
      left: 24px;
    }
  }
}

.slider-base__control-wrap {
  width: 51px;
  height: 31px;
  padding: 4px;
  position: relative;
  border-radius: 16px;
  background-color: $light;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.slider-base__control {
  width: 23px;
  height: 23px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 4px;
  transition: left 0.1s ease-in;
}

.slider-base__text {
  @include text-extra-large;
}
