@import '../../_variables.scss';

.header {
  width: 100%;
}

.header__bar-wrap {
  position: relative;
  z-index: 100;
  background-color: #eeeeee;
  margin-bottom: 14px;
}

.header__bar {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  padding: 28px 10px;
  align-items: center;
}

.header__logo,
.header__phone {
  flex-grow: 1;
  flex-basis: 0;
}
.header__phone {
  display: flex;
  justify-content: flex-end;
}

.header__bar .menu-btn {
  display: none;
}

.header__main-bcg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: url('Vector.png'),
    linear-gradient(156deg, rgba(0, 240, 255, 0) 0%, #00b2ff 100%),
    linear-gradient(185deg, rgba(255, 153, 0, 0) 0%, #f90 100%);
  opacity: 0.4;
  background-position: right;
}

@media (max-width: 1182px) {
  .header__phone .phone__number {
    display: none;
  }
}

@media (max-width: 990px) {
  .header__bar .nav,
  .header__phone {
    display: none;
  }
  .header__bar .menu-btn {
    display: block;
  }
}
