@import '../../variables';

.menu-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  &_active {
    .menu-btn__span:nth-child(1) {
      transform: rotateZ(45deg);
      top: 9px;
    }
    .menu-btn__span:nth-child(2) {
      transform: rotateY(90deg);
    }
    .menu-btn__span:nth-child(3) {
      transform: rotateZ(-45deg);
      bottom: 9px;
    }
  }
}

.menu-btn__span {
  position: relative;
  display: block;
  width: 28px;
  height: 3px;
  background-color: $second-dark;
  transition: all 0.2s ease;
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}
