@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 68px;
  font-weight: 700;
  line-height: 66px;
  @media (max-width: 768px) {
    font-size: 48px;
    line-height: normal;
  }
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 46px;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: normal;
  }
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 46px;
  @media (max-width: 768px) {
    font-size: 30px;
    line-height: normal;
  }
}

.main {
  // position: relative;
  // z-index: 5;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}
